.header {
 border: 1px solid #000000;
 background:lime;   
float: CENTER;    
color:black;                 
float: left;
width: 1000px;
height: 30px;
border-radius: 5px;
position: fixed;
margin-left: 10px;
}

.text {
float: CENTER;
margin-left: 20px;
margin-top: 30px;
width: 1000px;
height: 60px;
position: fixed;
}


.spam {
float: right;
margin-top: 30px;
margin-left: 1100px;
width: 600px;
height: 30px;
position: fixed;
}

.opus {
background-image:url("ans.jpg");
border-radius: 5px;
overflow-y: scroll;
margin-top: 150px;
margin-left: 50px;
margin-right: 50px;
width: 1000px;
height: 450px;
position: fixed;
}
